body {
  margin: 0;
  font-family: 'VCR OSD Mono', monospace;
  background: url('https://freight.cargo.site/t/original/i/0a2bb1c63d1d4a8140f6b8c50a67940a/cloud-bg.jpg') center/cover no-repeat;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}
